# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

# Jupyter Notebooks
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment
.env
venv/
ENV/
.env.*

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Data
*.sqlite3
*.db
*.csv
*.tsv
*.dat
*.bak
*.tmp

# Requirements
requirements.txt
!requirements.txt
